html {
    font-size: 62.5%;
    --primary-color: rgb(162, 51, 206);
    box-sizing: inherit;
}

body {
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

.game__container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}