html {
    font-size: 62.5%;
    --primary-color: rgb(162, 51, 206);
    box-sizing: inherit;
}

body {
    font-family: 'VT323', monospace;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.information {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.information__content {
    font-size: 3rem;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 10;
}

.popup__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #fff;
}

.popup__text {
    font-size: 4rem;
    text-align: center;
}

.popup__btn {
    padding: 2rem 1rem;
    font-size: 3rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    transition: box-shadow .3s;
}

.popup__btn:hover {
    box-shadow: 0 0 25px 5px var(--primary-color);
}

.hide {
    display: none;
}

.spaceship {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../img/spaceship.png');
    animation: moveShip 300ms steps(8) infinite;
}

@keyframes moveShip {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 512px;
    }
}

.projectile {
    position: absolute;
    width: 12px;
    height: 24px;
    background-image: url('../img/projectile.png');
    background-size: cover;
    background-position: center;
}

.enemy__container {
    position: absolute;
    top: 30%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
}

.invader {
    width: 76px;
    height: 76px;
    background-image: url('../img/red-chicken.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid white;
}

.hide {
    background-color: transparent;
}

.explosion {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url('../img/explosion.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: showExplosion 1000ms steps(17) forwards;

    border: 1px solid white;
}

@keyframes showExplosion {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 1088px;
    }
}

.explosion--big {
    position: absolute;
    width: 128px;
    height: 128px;
    background-image: url('../img/explosion-big.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: showBigExplosion 1000ms steps(17) forwards;

    border: 1px solid white;
}

@keyframes showBigExplosion {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 2176px;
    }
}


